/* 首頁 */
#gate>div{
    background-color: #fff;
    width:120vh;
    height: 80vh;
    margin: 12vh auto 4vh auto;
    position: relative;
}


/* 首頁動畫 */
#gateImgShow_1{
    width: 120vh;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    background-size: 120vh;
    position: absolute;
    z-index: 1;
    }
#gateImgShow_2{
    width: 120vh;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    background-size: 120vh;
    position: absolute;
    z-index: 0;
    }
    

 


    /* 幻燈片之１ */
    /* 幻燈片之１ */
    /* 幻燈片之１ */
    .show_1_item{
        width: 20vh;
        height: 20vh;
        background-color: rgba(255, 255, 255, 1);
        background-size: 120vh;
        /* background-image: url(../img/index_show/showImg_1.jpg); */
    }
  
    #gateImgShow_1>div:nth-child(1){
        background-position: 0 0 ;
       opacity: 0;
    }
    #gateImgShow_1>div:nth-child(2){
        background-position: 100vh 0 ;
       opacity: 0;
    }
    #gateImgShow_1>div:nth-child(3){
        background-position: 80vh 0 ;
       opacity: 0;
    }
    #gateImgShow_1>div:nth-child(4){
        background-position: 60vh 0 ;
       opacity: 0;
    }
    #gateImgShow_1>div:nth-child(5){
        background-position: 40vh 0 ;
       opacity: 0;
    }
    #gateImgShow_1>div:nth-child(6){
        background-position: 20vh 0 ;
       opacity: 0;
    }
    #gateImgShow_1>div:nth-child(7){
        background-position: 0 60vh ;
       opacity: 0;
    }
    #gateImgShow_1>div:nth-child(8){
        background-position: 100vh 60vh ;
       opacity: 0;
    }
    #gateImgShow_1>div:nth-child(9){
        background-position: 80vh 60vh ;
       opacity: 0;
    }
    #gateImgShow_1>div:nth-child(10){
        background-position: 60vh 60vh ;
       opacity: 0;
    }
    #gateImgShow_1>div:nth-child(11){
        background-position: 40vh 60vh ;
       opacity: 0;
    }
    #gateImgShow_1>div:nth-child(12){
        background-position: 20vh 60vh ;
       opacity: 0;
    }
    #gateImgShow_1>div:nth-child(13){
        background-position: 0 40vh ;
       opacity: 0;
    }
    #gateImgShow_1>div:nth-child(14){
        background-position: 100vh 40vh ;
       opacity: 0;
    }
    #gateImgShow_1>div:nth-child(15){
        background-position: 80vh 40vh ;
       opacity: 0;
    }
    #gateImgShow_1>div:nth-child(16){
        background-position: 60vh 40vh ;
       opacity: 0;
    }
    #gateImgShow_1>div:nth-child(17){
        background-position: 40vh 40vh ;
       opacity: 0;
    }
    #gateImgShow_1>div:nth-child(18){
        background-position: 20vh 40vh ;
       opacity: 0;
    }
    #gateImgShow_1>div:nth-child(19){
        background-position: 0 20vh ;
       opacity: 0;
    }
    #gateImgShow_1>div:nth-child(20){
        background-position: 100vh 20vh ;
       opacity: 0;
    }
    #gateImgShow_1>div:nth-child(21){
        background-position: 80vh 20vh ;
       opacity: 0;
    }
    #gateImgShow_1>div:nth-child(22){
        background-position: 60vh 20vh ;
       opacity: 0;
    }
    #gateImgShow_1>div:nth-child(23){
        background-position: 40vh 20vh ;
       opacity: 0;
    }
    #gateImgShow_1>div:nth-child(24){
        background-position: 20vh 20vh ;
       opacity: 0;
    }

    /* 幻燈片之２ */
    /* 幻燈片之２ */
    /* 幻燈片之２ */
    .show_2_item{
        width: 20vh;
        height: 20vh;
        background-color: rgba(255, 255, 255, 1);
        background-size: 120vh;
        background-image: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 100%);
    }
    /* .show_1_item{
        display: none;
    } */
    
    #gateImgShow_2>div:nth-child(1){
        background-position: 0 0 ;
        
    }
    #gateImgShow_2>div:nth-child(2){
        background-position: 100vh 0 ;
        
    }
    #gateImgShow_2>div:nth-child(3){
        background-position: 80vh 0 ;
        
    }
    #gateImgShow_2>div:nth-child(4){
        background-position: 60vh 0 ;
        
    }
    #gateImgShow_2>div:nth-child(5){
        background-position: 40vh 0 ;
        
    }
    #gateImgShow_2>div:nth-child(6){
        background-position: 20vh 0 ;
        
    }
    #gateImgShow_2>div:nth-child(7){
        background-position: 0 60vh ;
        
    }
    #gateImgShow_2>div:nth-child(8){
        background-position: 100vh 60vh ;
        
    }
    #gateImgShow_2>div:nth-child(9){
        background-position: 80vh 60vh ;
        
    }
    #gateImgShow_2>div:nth-child(10){
        background-position: 60vh 60vh ;
        
    }
    #gateImgShow_2>div:nth-child(11){
        background-position: 40vh 60vh ;
        
    }
    #gateImgShow_2>div:nth-child(12){
        background-position: 20vh 60vh ;
        
    }
    #gateImgShow_2>div:nth-child(13){
        background-position: 0 40vh ;
        
    }
    #gateImgShow_2>div:nth-child(14){
        background-position: 100vh 40vh ;
        
    }
    #gateImgShow_2>div:nth-child(15){
        background-position: 80vh 40vh ;
        
    }
    #gateImgShow_2>div:nth-child(16){
        background-position: 60vh 40vh ;
        
    }
    #gateImgShow_2>div:nth-child(17){
        background-position: 40vh 40vh ;
        
    }
    #gateImgShow_2>div:nth-child(18){
        background-position: 20vh 40vh ;
        
    }
    #gateImgShow_2>div:nth-child(19){
        background-position: 0 20vh ;
        
    }
    #gateImgShow_2>div:nth-child(20){
        background-position: 100vh 20vh ;
        
    }
    #gateImgShow_2>div:nth-child(21){
        background-position: 80vh 20vh ;
        
    }
    #gateImgShow_2>div:nth-child(22){
        background-position: 60vh 20vh ;
        
    }
    #gateImgShow_2>div:nth-child(23){
        background-position: 40vh 20vh ;
        
    }
    #gateImgShow_2>div:nth-child(24){
        background-position: 20vh 20vh ;
        opacity: 1;
    }




    /* 漸進動畫 */
    .notOpacity{
        transition: 2s;
        opacity: 0 !important;
        
    }
    .getOpacity{
        transition: 5s;
        opacity: 1 !important;
    }










