@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap&subset=chinese-traditional');
// @import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap&subset=chinese-traditional");

// @font-face {
//     font-family: NotoSans;
//     src: url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap&subset=chinese-traditional");
//     // src: url(./fontFamily/NotoSansTC-Regular.otf);
//     unicode-range: U+4E00-9FFF;
//   }

* {
    box-sizing: border-box;
    font-family: 'Noto Sans TC', sans-serif;
    // font-family: NotoSans;
    
}
body {
    background-color: black;
}
#root {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden; // 用來隱藏滾動條
}
